@media (min-width: 980px){
    .header{
        margin: 0 0 -72px;
    }
    .header-top{
        /*padding: 14px 0;*/
        border-radius: 0;
        box-shadow: none;
    }
    .header-info{
        display: none;
    }
    .header-menu{
        /*flex: auto;*/
        margin: 0;
    }
    .menu-main ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .menu-main>ul{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        margin: 0 -10px;
    }
    /*.menu-main li{
        margin: 0;
    }*/
    .header-widgets{
        display: flex;
    }
    .header-botton{
        padding-top: 0;
        margin-top: -6px;
    }
    .header_logo{
        margin: 0 30px 0 12px;
        max-width: 160px;
    }
    .header-botton_block{
        position: relative;
        align-items: center;
        flex: auto;
        display: flex;
        gap: 21px;
        justify-content: space-between;
        border-radius: 0 0 15px 15px;
        background: #fff;
        padding: 23px 16px;
        max-width: 894px;
    }
    .header-btn_catalog{
        display: flex;
        cursor: pointer;
    }
    .header-location{
        display: block;
        cursor: pointer;
    }
    .header-contacts_dropdown:hover .header-contacts_dropdown-list{
        opacity: 1;
        transform: scaleY(1);
        z-index: 230;
    }
}
@media (min-width: 1024px){
    .header-location_dropdown-list{
        top: calc(100% + 16px);
    }
}
@media (min-width: 1366px){
    .header-botton_block{
        padding: 13px 20px;
    }
}
@media (min-width: 1420px){
    .header_conteiner{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .header_conteiner{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .header-searh{
        max-width: 250px;
    }
    .header-location{
        padding-left: 34px;
    }
}
@media (max-width:1024px){
    .header-info{
        display: none;
    }
    .header-menu{
        display: flex;
        justify-content: flex-start;
    }
    .header-searh{
        display: none;
    }
    .header-searh-top{
        display: none;
    }
}
@media (max-width:480px) {
    .menu{
        display: none;
    }
    .nav-button{
        display: flex;
        justify-content: flex-start;
        order: -1;
        /*position: fixed;*/
        z-index: 9;
    }
    .header-info{
        display: flex;
        margin-left: 20px;
    }
    .header-info::before{
        display: none;
    }
    .header-widgets_item{
        display: none;
    }
    .header-logo{
        display: none;
    }
    .header-searh{
        display: none;
    }
    .header-widgets_logo{
        display: flex;
        align-items: flex-end;
    }
    .header-botton{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-bottom: 10px;
        /*order:2;
        flex-wrap:wrap*/
    }
    .header_conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
        /*flex-direction: row;*/
        /*order:2;*/
    }
    .-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /*flex-direction: row;*/
        /*order:2;*/
    }
    .header-location{
        display: none;
    }
    .header-btn_catalog{
        display: none;
    }
    .header-top{
        display: flex;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        background: #FFF;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
        height: 50px;
    }
    .header-botton_block{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .header-contacts_dropdown-btn{
        display: none;
    }
    /*.menu.open{

    }*/
    .menu.open .menu-main{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFF;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 4px 0px 16px 0px rgba(0, 0, 0, 0.07);
        /*z-index: 1;*/
        padding: 46px 30px;
        flex-direction: column;
        row-gap: 24px;
    }
    .menu-main li:hover{
        color: #19AB4F;
    }
    .menu-main li{
        color: var(--Black, #09101D);
        font-family: "Gotham Pro medium";
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
    }
}

@media (min-width: 1280px){
    .header-info{
        display: flex;
        /*align-items: center;*/
        width: 250px;
        margin: 0;
    }
    .header-widgets{
        width: 280px;
    }
    .header-botton{
        padding: 0;
    }
    .header-botton::before{
        display: block;
        position: relative;
        /*top: 90px;*/
        left: 50%;
        z-index: 1;
        width: 565px;
        max-width: 40%;
        height: 1px;
        background: rgba(0,0,0,.1);
        transform: translateX(-50%);
        content: "";
    }
    .header_logo{
        max-width: 180px;
        margin: 0 30px 0 43px;
    }
    .header-botton_block{
        padding: 13px 10px;
    }
    .header-btn_catalog{
        position: relative;
        /*display: inline-block;*/
        vertical-align: top;
        max-width: 100%;
        height: 48px;
        /*padding: 12px 16px;*/
        flex-direction: row;
        align-items: center;
        border-radius: 8px;
        border: 2px solid #19AB4F;
        background: #FFF;
        color: #19AB4F;
        font-family: "Gotham Pro medium";
        /*font-size: 18px;*/
        font-style: normal;
        text-decoration: none;
        overflow: hidden;
        background-position: 50%;
        cursor: pointer;
        white-space: nowrap;
        transition: all .2s ease-in;
        padding: 0 14px;
        /*line-height: 44px;*/
        font-size: 15px;
        display: flex;
    }
    .header-btn_catalog::before{
        content: "";
        display: block;
        background: url("/img/app.svg") no-repeat 50%;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        transition: all .2s ease-in;
        filter: brightness(0) invert(43%) sepia(98%) saturate(2145%) hue-rotate(115deg) brightness(98%) contrast(80%);
        margin-right: 10px;
    }
    .header-btn_catalog:hover::before{
        filter: brightness(0) invert(27%) sepia(98%) saturate(537%) hue-rotate(190deg) brightness(95%) contrast(91%);
    }
    .header-btn_catalog:hover{
        border-color: #3955a4;
        color: #3955a4;
    }
    .header-location_number{
        top: 20px;
        left: 480px;
    }
}
@media (min-width: 480px){
    
}
